@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --mainfont: "BMJUA";
  --red: #FF6D64;
  --purple: #8378D9;
  --blue: #77C0FF;
  --yellow: #FFC70B;
  --orange: #FF8C1A;
  --green: #88C72E;
  --white: #FAFAFA;
  --black: #323E36;
  --gray: #D9D9D9;
  --none: #00000000;
  color: var(--black);
  font-family: var(--mainfont);
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

input,
body,
button,
select,
table,
textarea {
  font-family: var(--mainfont);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 16px;
  border: 0;
}

.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

button,
a {
  cursor: pointer;
  background-color: var(--none);
}

body {
  background-color: #404040;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > div > div {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 640px;
  margin: 0 auto;
  background-color: var(--gray);
  height: 360px;
}

::-webkit-scrollbar {
  display: none;
}

.none {
  display: none !important;
}

input {
  outline: none;
}

.Main_wrap {
  background-color: #FFF5DE;
  padding: 15px;
}
.Main_wrap .header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}
.Main_wrap .header > img {
  width: 40px;
}
.Main_wrap .main {
  display: flex;
  justify-content: space-between;
}
.Main_wrap .main .clothes,
.Main_wrap .main .inital {
  width: 220px;
  height: 280px;
  background-color: var(--red);
  border-radius: 10px;
  color: var(--white);
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.Main_wrap .main .clothes h4,
.Main_wrap .main .inital h4 {
  opacity: 80%;
  font-size: 12px;
  margin-bottom: 20px;
}
.Main_wrap .main .clothes h1,
.Main_wrap .main .inital h1 {
  font-size: 20px;
}
.Main_wrap .main .clothes {
  background-image: url(../../img/main/main_clothes.png);
}
.Main_wrap .main .inital {
  background-image: url(../../img/main/main_initial.png);
  background-color: var(--purple);
}
.Main_wrap .main .box {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Main_wrap .main .box a {
  height: 135px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
}
.Main_wrap .main .box a h4 {
  font-size: 12px;
  color: var(--white);
  opacity: 80%;
}
.Main_wrap .main .box .guide {
  background-color: var(--yellow);
  background-image: url(../../img/main/main_guide.png);
}
.Main_wrap .main .box .rank {
  background-color: var(--green);
  background-image: url(../../img/main/main_rank.png);
}

.Initial_wrap {
  background-color: var(--purple);
  padding: 15px;
}
.Initial_wrap .header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Initial_wrap .header h1 {
  font-size: 20px;
}
.Initial_wrap .main {
  display: flex;
  justify-content: space-between;
}
.Initial_wrap .main > a {
  padding: 20px;
  width: 197px;
  height: 280px;
  border-radius: 10px;
  text-align: center;
  background-size: cover;
}
.Initial_wrap .main > a img {
  width: 20px;
  margin-bottom: 20px;
}
.Initial_wrap .main > a h1 {
  color: var(--white);
  font-size: 20px;
}
.Initial_wrap .main .food {
  background-color: #FF7293;
  background-image: url(../../img/initial/initial_foodimg.png);
}
.Initial_wrap .main .place {
  background-color: var(--blue);
  background-image: url(../../img/initial/initial_placeimg.png);
}
.Initial_wrap .main .play {
  background-color: var(--orange);
  background-image: url(../../img/initial/initial_playimg.png);
}

.InitialGame_wrap {
  background-color: #683135;
  padding: 30px;
  position: relative;
}
.InitialGame_wrap > button {
  left: 15px;
  top: 15px;
  position: absolute;
}
.InitialGame_wrap .main {
  height: 300px;
  padding: 30px;
  background-color: #125A5A;
  border: 3px solid #51262A;
  background-size: cover;
  background-position: center;
  background-image: url(../../img/initial/initial_gamebackground.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.InitialGame_wrap .main .top {
  text-align: center;
  color: var(--white);
}
.InitialGame_wrap .main .top h4 {
  font-size: 25px;
  margin-bottom: 20px;
}
.InitialGame_wrap .main .top h1 {
  font-size: 55px;
  text-shadow: -3px -3px 0 #51262A, 3px -3px 0 #51262A, -3px 3px 0 #51262A, 3px 3px 0 #51262A;
}
.InitialGame_wrap .main .bottom {
  width: 292px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 30px;
}
.InitialGame_wrap .main .bottom input {
  width: 221px;
  background-color: var(--none);
  border: 1px solid var(--white);
  border-radius: 3px;
  padding: 7px 10px 5px;
  color: var(--white);
}
.InitialGame_wrap .main .bottom ::-moz-placeholder {
  color: var(--white);
  opacity: 50%;
}
.InitialGame_wrap .main .bottom ::placeholder {
  color: var(--white);
  opacity: 50%;
}
.InitialGame_wrap .main .bottom button {
  width: 66px;
  background-color: var(--white);
  border-radius: 3px;
  color: #125A5A;
}

.InitialStop_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(250, 250, 250, 0.5215686275);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.InitialStop_wrap > div {
  width: 225px;
  height: 133px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.InitialStop_wrap > div > button {
  width: 18px;
}
.InitialStop_wrap > div .box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.InitialStop_wrap > div .box > button {
  width: 75px;
}
.InitialStop_wrap > div .box > button img {
  width: 50px;
  margin-bottom: 5px;
}
.InitialStop_wrap > div .box > button h5 {
  font-size: 15px;
}
.InitialStop_wrap > div .box .stop {
  margin-right: 15px;
}

.InitialGuide_wrap {
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(250, 250, 250, 0.5215686275);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.InitialGuide_wrap > button {
  left: 15.1px;
  top: 7.5px;
  position: absolute;
}
.InitialGuide_wrap .main {
  margin-top: 15px;
  width: 400px;
  height: 286px;
  padding: 50px 30px 0 50px;
  background-image: url(../../img/initial/initial_guide.png);
  background-size: cover;
}
.InitialGuide_wrap .main p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0px;
}
.InitialGuide_wrap .main .blue {
  color: var(--purple);
}
.InitialGuide_wrap .main .right {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 0px;
}
.InitialGuide_wrap .main strong {
  font-size: 20px;
}
.InitialGuide_wrap .main > div {
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
.InitialGuide_wrap .main > div button {
  height: 120px;
  width: 144px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../../img/initial/initial_catbtn.png);
  padding-top: 30px;
  color: var(--white);
  font-size: 15px;
}

.InitialResult_wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(250, 250, 250, 0.5215686275);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.InitialResult_wrap > div {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.1450980392);
}
.InitialResult_wrap > div h4 {
  margin-bottom: 2px;
}
.InitialResult_wrap > div h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.InitialResult_wrap > div .text {
  display: flex;
  margin-bottom: 30px;
}
.InitialResult_wrap > div .text p {
  text-align: left;
  font-size: 14px;
  margin-right: 5px;
  line-height: 1.3;
}
.InitialResult_wrap > div .btn {
  width: 100%;
  display: flex;
  justify-content: right;
}
.InitialResult_wrap > div button {
  background-color: #125A5A;
  padding: 7px 20px;
  border-radius: 3px;
  color: var(--white);
}
.InitialResult_wrap .result {
  width: 242px;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px 20px;
}
.InitialResult_wrap .result h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
.InitialResult_wrap .result > div {
  display: flex;
  justify-content: space-between;
}
.InitialResult_wrap .result > div button {
  padding-top: 10px;
}

.Clothes_wrap {
  padding: 15px;
  position: relative;
  background-size: cover;
  background-image: url(../../img/clothes/background.png);
}
.Clothes_wrap > button {
  position: absolute;
  display: flex;
  z-index: 5;
}
.Clothes_wrap .Dress_wrap {
  z-index: 10;
  width: 190px;
  height: 260px;
  right: 20px;
  top: 33px;
  position: absolute;
  display: flex;
  padding: 40px 0;
  justify-content: center;
}
.Clothes_wrap .Dress_wrap img {
  cursor: pointer;
  width: 52px;
  height: 180px;
}
.Clothes_wrap .Hats_wrap {
  position: absolute;
  width: 130px;
  top: 110px;
  left: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 10;
}
.Clothes_wrap .Hats_wrap img {
  cursor: pointer;
  width: 55px;
  margin: 0 5px;
}
.Clothes_wrap .Skin_wrap {
  position: absolute;
  top: 0;
  left: 55px;
  display: flex;
  z-index: 10;
}
.Clothes_wrap .Skin_wrap img {
  cursor: pointer;
  width: 46px;
}
.Clothes_wrap .main {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.Clothes_wrap .main .hat {
  position: absolute;
  display: flex;
  z-index: 4;
}
.Clothes_wrap .main .character {
  position: absolute;
  display: flex;
  z-index: 2;
}
.Clothes_wrap .main .dress {
  position: absolute;
  display: flex;
  z-index: 3;
}
.Clothes_wrap .btn_box {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  left: 0;
  padding: 0 15px;
}
.Clothes_wrap .btn_box button {
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  background-position: center;
  background-image: url(../../img/clothes/button.png);
  width: 144px;
  height: 110px;
  padding-top: 55px;
  font-size: 15px;
  color: var(--white);
}
.Clothes_wrap .up {
  z-index: 11;
}

.ClothesGuide_wrap {
  z-index: 11;
}
.ClothesGuide_wrap .main {
  background-image: url(../../img/clothes/guide.png);
}
.ClothesGuide_wrap .main .red {
  color: var(--red);
}
.ClothesGuide_wrap .main > div button {
  background-image: url(../../img/clothes/button.png);
}

.ClothesResult_wrap {
  z-index: 11;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(250, 250, 250, 0.5215686275);
}
.ClothesResult_wrap .main {
  background-size: cover;
  background-image: url(../../img/clothes/say.png);
  padding-top: 15px;
  display: flex;
}
.ClothesResult_wrap .main .say {
  top: 94px;
  left: 85px;
  position: absolute;
  font-size: 16px;
  text-align: center;
}
.ClothesResult_wrap .main .say .red {
  color: var(--red);
  font-size: 20px;
}
.ClothesResult_wrap .btn_box {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  left: 0;
  padding: 0 15px;
}
.ClothesResult_wrap .btn_box button {
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  background-position: center;
  background-image: url(../../img/clothes/button.png);
  width: 144px;
  height: 110px;
  padding-top: 55px;
  font-size: 15px;
  color: var(--white);
}

.Rank_wrap {
  background-color: var(--green);
  padding: 15px;
}
.Rank_wrap .Rank_container {
  background-color: #fafafa;
  width: 610px;
  height: 285px;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Rank_card {
  width: 590px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Rank_card .Rank_img {
  width: 44px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Rank_card .Rank_img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Rank_card .Rank_img > p {
  color: #fafafa;
  position: relative;
  bottom: 50%;
}
.Rank_card .Info_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 235px;
}
.Rank_card .Info_wrap > div {
  margin-right: 10px;
  flex-shrink: 0;
}
.Rank_card .Info_wrap > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.Rank_card .profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.Rank_card .profileImg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Rank_card .Img_box {
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.Rank_card .Score_wrap {
  min-width: 107px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.Rank_card p {
  letter-spacing: 0;
}

.Topbar_wrap .header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
}
.Topbar_wrap .header > img {
  width: 40px;
}

.Mypage_wrap {
  background-color: var(--red);
  padding: 15px;
}
.Mypage_wrap .Mypage_container {
  background-color: #fafafa;
  width: 610px;
  height: 285px;
  padding: 30px;
  border-radius: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Mypage_wrap .mypage_btn {
  visibility: hidden;
}
.Mypage_wrap .userInfo {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.Mypage_wrap .userInfo p {
  font-size: 30px;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.Mypage_wrap .userProfile {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
.Mypage_wrap .userProfile > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Mypage_wrap .uploadBtn {
  position: relative;
  left: 1%;
  top: 28%;
  margin-left: -60px;
}
.Mypage_wrap .uploadBtn label {
  cursor: pointer;
}
.Mypage_wrap .uploadBtn label div {
  width: 30px;
  height: 30px;
}
.Mypage_wrap .uploadBtn label div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Mypage_wrap .uploadBtn input {
  display: none;
}
.Mypage_wrap .score {
  width: 550px;
  height: 75px;
  border-radius: 10px;
  padding: 0 20px;
  background-color: var(--white);
  box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Mypage_wrap .score > p {
  font-size: 20px;
}
.Mypage_wrap .score .score_txt {
  color: var(--red);
}

.guide_wrapper {
  background-color: var(--yellow);
  padding: 15px;
}
.guide_wrapper .guide_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.guide_wrapper .guide_header button {
  display: flex;
}
.guide_wrapper .guide_main {
  padding: 24px 8px 0;
  height: calc(100% - 30px - 15px);
}
.guide_wrapper .guide_main .guide_main_ul {
  cursor: pointer;
  display: flex;
  gap: 30px;
  line-height: 26px;
  border-bottom: 1px solid rgba(50, 62, 54, 0.5);
  color: rgba(50, 62, 54, 0.5);
}
.guide_wrapper .guide_main .guide_main_ul .active {
  color: var(--black);
  border-bottom: 3px solid var(--black);
}
.guide_wrapper .guide_main .guide_main_section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  height: calc(100% - 30px - 10px);
  overflow: auto;
}
.guide_wrapper .guide_main .guide_main_section .guide_main_section_initial_container {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.Login_wrap {
  background-color: #FFF5DE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login_wrap h1 {
  color: var(--red);
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
  width: 410px;
}
.Login_wrap .main {
  display: flex;
  flex-direction: column;
  width: 410px;
}
.Login_wrap .main input {
  width: 100%;
  height: 32px;
  background-color: rgba(50, 62, 54, 0.0823529412);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 11px 10px 9px;
}
.Login_wrap .main ::-moz-placeholder {
  color: rgba(50, 62, 54, 0.1882352941);
}
.Login_wrap .main ::placeholder {
  color: rgba(50, 62, 54, 0.1882352941);
}
.Login_wrap .main button {
  height: 45px;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--white);
  font-size: 15px;
  padding-top: 1px;
}
.Login_wrap .main .wrong {
  border: 2px solid var(--red);
}/*# sourceMappingURL=style.css.map */